<!DOCTYPE html>
<html lang="en-GB">

<head>

<link rel="stylesheet" type="text/css" href="../styles.css">

  <title>Harry Potter School</title>
</head>


<body>

<div id="maindiv">
    <div id="divnav">
         <ul>
         <h1>Hogwarts School</h1>
            <li><a href="/hogwarts">Home</a></li>
            <li><a href="/hogwarts/about">About</a></li>
            <li><a href="/hogwarts/students">Students</a></li>
            <li><a href="/hogwarts/houses">Houses</a></li>
            <li><a href="/hogwarts/tour">Tour</a></li>
            <li><a href="/hogwarts/contact">Contact</a></li>
         </ul>
    </div>
    <div id="divbody">
      <%= yield  %>
    </div>
    
</div>

<!-- <embed src="../images/song.mp3" autostart="true" loop="true"
width="2" height="0"> -->
</embed>
</body>
</html>